html {
    width: 100vw;
    height: 100vh;
    background: black;
}

body {
    position: absolute;
    top:-10px;
    left: -10px;
    background: white;
    width: 100vw;
    height: 100vh;
    font-family: "gotham narrow", sans-serif;
    font-weight: 400;
     font-size: 15px;
    line-height: 23px;
}



/*
h1 {
    position: fixed;
    top: 64px;
    left: 40px;
    font-family: "atlas typewriter";
    font-weight: 600;
    color: white;
    font-size: 21px;
    padding-bottom: 2px;
    border-bottom: none;
    color: black;
}
*/

.instructionHead {
    float: left;
    margin-left: 39px;
}

#instruction1 {
    float: left;
    font-family: "gotham narrow", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    margin-top: 50px;
    width: 90vw;
    color: black;
}


#object1 {
    float: left;
    margin-top: 10;
    margin-left: 43;
    color: white;
}


#object1:hover {
    cursor: cell;
}


#interests {
    float: left;
    width: 90vw;
    margin-left: 43px;
    margin-top: 20px;s
}

#workexp {
    float: left;
    width: 90vw;
    margin-left: 43px;
}

a {
    text-decoration: none;
    color: black;
}

#contactbutton, #resumebutton {
    float: left;
    border: 2px solid black;
    background: none;
    font-family: "gotham narrow", sans-serif;
    font-weight: 500;
    font-size: 24px;
}

button a {
    font-family: "gotham narrow", sans-serif;
    font-weight: 500;
    font-size: 24px;
}





