html {
    width: 90vw;
    height: auto;
    background: white;
    border: none;
}

body {
    position: absolute;
    top:-10px;
    left: -8px;
    background: white;
    width: 400px;
    height: auto;
    font-family: "gotham narrow", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
}


/*
h1 {
    position: fixed;
    top: 64px;
    left: 40px;
    font-family: "atlas typewriter";
    font-weight: 600;
    color: white;
    font-size: 21px;
    padding-bottom: 2px;
    border-bottom: none;
    color: black;
}
*/


#instruction1 {
    float: left;
    width: 360px;
    font-family: "gotham narrow", sans-serif;
    color: black;
}



.imgobject1 {
    float: left;
    margin-top: 10;
    color: white;
    width: auto;
}


#object1:hover {
    cursor: cell;
}


#interests {
    width: 360px;
    float: left;
    margin-top: 20px;
}

#workexp {
    float: left;
    width: 360px;
}

a {
    text-decoration: none;
    color: black;
}

#contactbutton, #resumebutton {
    float: left;
    border: 2px solid black;
    background: none;
    font-family: "gotham narrow", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

button a {
    font-family: "gotham narrow", sans-serif;
    font-weight: 500;
    font-size: 18px;
}


::-webkit-scrollbar { 
    display: none; 
}


